## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [9]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [49]:
# Your code here

sample_list_1=[]

while len(sample_list_1)<80:
    sample_list_1.append(random.randint(0,101))

print(sample_list_1)
print(len(sample_list_1))

[73, 87, 42, 68, 100, 57, 54, 24, 88, 27, 64, 62, 73, 67, 4, 92, 91, 62, 77, 54, 70, 84, 43, 67, 99, 93, 25, 1, 78, 48, 17, 88, 9, 95, 61, 47, 51, 26, 63, 101, 13, 62, 91, 17, 55, 41, 40, 53, 41, 13, 83, 54, 61, 32, 88, 31, 30, 95, 64, 43, 91, 86, 1, 94, 70, 65, 71, 72, 59, 0, 43, 2, 64, 80, 16, 100, 93, 88, 12, 6]
80

In [51]:
for elemento in sample_list_1:
    if elemento in sample_list_1:
        print("El numero",elemento,"se repite",sample_list_1.count(elemento))

El numero 73 se repite 2
El numero 87 se repite 1
El numero 42 se repite 1
El numero 68 se repite 1
El numero 100 se repite 2
El numero 57 se repite 1
El numero 54 se repite 3
El numero 24 se repite 1
El numero 88 se repite 4
El numero 27 se repite 1
El numero 64 se repite 3
El numero 62 se repite 3
El numero 73 se repite 2
El numero 67 se repite 2
El numero 4 se repite 1
El numero 92 se repite 1
El numero 91 se repite 3
El numero 62 se repite 3
El numero 77 se repite 1
El numero 54 se repite 3
El numero 70 se repite 2
El numero 84 se repite 1
El numero 43 se repite 3
El numero 67 se repite 2
El numero 99 se repite 1
El numero 93 se repite 2
El numero 25 se repite 1
El numero 1 se repite 2
El numero 78 se repite 1
El numero 48 se repite 1
El numero 17 se repite 2
El numero 88 se repite 4
El numero 9 se repite 1
El numero 95 se repite 2
El numero 61 se repite 2
El numero 47 se repite 1
El numero 51 se repite 1
El numero 26 se repite 1
El numero 63 se repite 1
El numero 101 se repite 1
El numero 13 se repite 2
El numero 62 se repite 3
El numero 91 se repite 3
El numero 17 se repite 2
El numero 55 se repite 1
El numero 41 se repite 2
El numero 40 se repite 1
El numero 53 se repite 1
El numero 41 se repite 2
El numero 13 se repite 2
El numero 83 se repite 1
El numero 54 se repite 3
El numero 61 se repite 2
El numero 32 se repite 1
El numero 88 se repite 4
El numero 31 se repite 1
El numero 30 se repite 1
El numero 95 se repite 2
El numero 64 se repite 3
El numero 43 se repite 3
El numero 91 se repite 3
El numero 86 se repite 1
El numero 1 se repite 2
El numero 94 se repite 1
El numero 70 se repite 2
El numero 65 se repite 1
El numero 71 se repite 1
El numero 72 se repite 1
El numero 59 se repite 1
El numero 0 se repite 1
El numero 43 se repite 3
El numero 2 se repite 1
El numero 64 se repite 3
El numero 80 se repite 1
El numero 16 se repite 1
El numero 100 se repite 2
El numero 93 se repite 2
El numero 88 se repite 4
El numero 12 se repite 1
El numero 6 se repite 1

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [97]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

#No, the length varied due to the set quality that it doesn't have duplicated values

56

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [60]:
# Your code here
sample_list_2=[]
i=0

for i in range(80):
    sample_list_2.append(random.randint(0,101))

print(sample_list_2)
print(len(sample_list_2))

[44, 85, 86, 59, 74, 62, 0, 73, 17, 37, 14, 3, 99, 94, 77, 51, 56, 60, 13, 92, 7, 60, 36, 73, 6, 4, 44, 30, 93, 25, 100, 41, 21, 50, 74, 27, 55, 98, 48, 63, 96, 34, 55, 87, 20, 46, 83, 72, 100, 93, 67, 13, 81, 65, 97, 69, 14, 53, 88, 81, 70, 40, 48, 94, 88, 28, 15, 6, 3, 7, 61, 41, 21, 44, 65, 31, 43, 101, 33, 40]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [65]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
print(set2)
#No, current value is 59

59
{0, 3, 4, 6, 7, 13, 14, 15, 17, 20, 21, 25, 27, 28, 30, 31, 33, 34, 36, 37, 40, 41, 43, 44, 46, 48, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 65, 67, 69, 70, 72, 73, 74, 77, 81, 83, 85, 86, 87, 88, 92, 93, 94, 96, 97, 98, 99, 100, 101}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [64]:
# Your code here
set3={}
set3=set()

for elemento in set1:
    if elemento not in set2:
        print("Number",elemento,"is not present in set2")
        set3.add(elemento)

print(set3)

Number 1 is not present in set2
Number 2 is not present in set2
Number 9 is not present in set2
Number 12 is not present in set2
Number 16 is not present in set2
Number 24 is not present in set2
Number 26 is not present in set2
Number 32 is not present in set2
Number 42 is not present in set2
Number 47 is not present in set2
Number 54 is not present in set2
Number 57 is not present in set2
Number 64 is not present in set2
Number 68 is not present in set2
Number 71 is not present in set2
Number 78 is not present in set2
Number 80 is not present in set2
Number 84 is not present in set2
Number 91 is not present in set2
Number 95 is not present in set2
{1, 2, 9, 12, 16, 24, 26, 32, 42, 47, 54, 57, 64, 68, 71, 78, 80, 84, 91, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [71]:
# Your code here
set4={}
set4=set()

for elemento in set2:
    if elemento not in set1:
        print("Number",elemento,"is not present in set1")
        set4.add(elemento)
print(set4)

Number 3 is not present in set1
Number 7 is not present in set1
Number 14 is not present in set1
Number 15 is not present in set1
Number 20 is not present in set1
Number 21 is not present in set1
Number 28 is not present in set1
Number 33 is not present in set1
Number 34 is not present in set1
Number 36 is not present in set1
Number 37 is not present in set1
Number 44 is not present in set1
Number 46 is not present in set1
Number 50 is not present in set1
Number 56 is not present in set1
Number 60 is not present in set1
Number 69 is not present in set1
Number 74 is not present in set1
Number 81 is not present in set1
Number 85 is not present in set1
Number 96 is not present in set1
Number 97 is not present in set1
Number 98 is not present in set1
{3, 7, 14, 15, 20, 21, 28, 33, 34, 36, 37, 44, 46, 50, 56, 60, 69, 74, 81, 85, 96, 97, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
# Your code here
print(set1)
print(set2)

set5={}
set5=set()

for elemento in set2:
    if elemento in set1:
        print("Number",elemento,"is shared between sets")
        set5.add(elemento)
print(set5)

{0, 1, 2, 4, 6, 9, 12, 13, 16, 17, 24, 25, 26, 27, 30, 31, 32, 40, 41, 42, 43, 47, 48, 51, 53, 54, 55, 57, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 77, 78, 80, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 99, 100, 101}
{0, 3, 4, 6, 7, 13, 14, 15, 17, 20, 21, 25, 27, 28, 30, 31, 33, 34, 36, 37, 40, 41, 43, 44, 46, 48, 50, 51, 53, 55, 56, 59, 60, 61, 62, 63, 65, 67, 69, 70, 72, 73, 74, 77, 81, 83, 85, 86, 87, 88, 92, 93, 94, 96, 97, 98, 99, 100, 101}
Number 0 is shared between sets
Number 4 is shared between sets
Number 6 is shared between sets
Number 13 is shared between sets
Number 17 is shared between sets
Number 25 is shared between sets
Number 27 is shared between sets
Number 30 is shared between sets
Number 31 is shared between sets
Number 40 is shared between sets
Number 41 is shared between sets
Number 43 is shared between sets
Number 48 is shared between sets
Number 51 is shared between sets
Number 53 is shared between sets
Number 55 is shared between sets
Number 59 is shared between sets
Number 61 is shared between sets
Number 62 is shared between sets
Number 63 is shared between sets
Number 65 is shared between sets
Number 67 is shared between sets
Number 70 is shared between sets
Number 72 is shared between sets
Number 73 is shared between sets
Number 77 is shared between sets
Number 83 is shared between sets
Number 86 is shared between sets
Number 87 is shared between sets
Number 88 is shared between sets
Number 92 is shared between sets
Number 93 is shared between sets
Number 94 is shared between sets
Number 99 is shared between sets
Number 100 is shared between sets
Number 101 is shared between sets
{0, 4, 6, 13, 17, 25, 27, 30, 31, 40, 41, 43, 48, 51, 53, 55, 59, 61, 62, 63, 65, 67, 70, 72, 73, 77, 83, 86, 87, 88, 92, 93, 94, 99, 100, 101}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [76]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#Set 1 and 2 have a difference of three digits, while set 3 and 4 have a difference of 3 digits as well

56
59
20
23
36

#### Create an empty set called `set6`.

In [77]:
# Your code here
set6={}
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [78]:
# Your code here
set6.update(set5)
set6.update(set3)

print(set6)

{0, 1, 2, 4, 6, 9, 12, 13, 16, 17, 24, 25, 26, 27, 30, 31, 32, 40, 41, 42, 43, 47, 48, 51, 53, 54, 55, 57, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 77, 78, 80, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 99, 100, 101}

#### Check if `set1` and `set6` are equal.

In [93]:
# Your code here
if set1==set6:
    print("both are equal")
print(set1)
print(set6)

{1, 2, 4, 6, 9, 12, 13, 16, 17, 24, 25, 26, 27, 30, 31, 32, 40, 41, 42, 43, 47, 48, 51, 53, 54, 55, 57, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 77, 78, 80, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 99, 100, 101}
{0, 1, 2, 4, 6, 9, 12, 13, 16, 17, 24, 25, 26, 27, 30, 31, 32, 40, 41, 42, 43, 47, 48, 51, 53, 54, 55, 57, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 77, 78, 80, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 99, 100, 101}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [88]:
# Your code here
print(set1.issubset(set2))

print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [91]:
# Your code here
i=set3.union(set4)
j=i.union(set5)

k=set1.union(set2)

if k==j:
    print('Both sets are equal')

print(k)
print(j)

Both sets are equal
{0, 1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 20, 21, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101}
{0, 1, 2, 3, 4, 6, 7, 9, 12, 13, 14, 15, 16, 17, 20, 21, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 36, 37, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101}

#### Using the `pop` method, remove the first element from `set1`.

In [98]:
# Your code here
# set1.pop()

print(set1)
len(set1)

{0, 1, 2, 4, 6, 9, 12, 13, 16, 17, 24, 25, 26, 27, 30, 31, 32, 40, 41, 42, 43, 47, 48, 51, 53, 54, 55, 57, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 77, 78, 80, 83, 84, 86, 87, 88, 91, 92, 93, 94, 95, 99, 100, 101}

56

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [99]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove=set(list_to_remove)

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)
len(set1)

{0, 2, 4, 6, 12, 13, 16, 17, 24, 25, 26, 27, 30, 32, 40, 42, 43, 47, 48, 53, 54, 55, 57, 62, 63, 64, 65, 67, 68, 70, 72, 73, 77, 78, 80, 83, 84, 86, 87, 88, 92, 93, 94, 95, 100, 101}

46